ezid-cert-manual/target/test-classes/root-test-context.xml
ezid-cert-manual/target/test-classes/myBatisConfig.xml
ezid-cert-manual/target/m2e-wtp/web-resources/META-INF/maven/cn.ezid.platform/ezid-cert-manual/pom.xml
ezid-cert-manual/target/m2e-wtp/web-resources/META-INF/maven/cn.ezid.platform/ezid-cert-manual/pom.properties
ezid-cert-manual/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ezid-cert-manual/target/classes/myBatisConfig.xml
ezid-cert-manual/target/classes/messages.properties.orig
ezid-cert-manual/target/classes/messages.properties
ezid-cert-manual/target/classes/log4j.properties
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/impl/TaskServiceImpl.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/impl/AsyncReviewServiceImpl.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/impl/AsyncReviewServiceImpl$3.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/impl/AsyncReviewServiceImpl$2.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/impl/AsyncReviewServiceImpl$1.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/TaskViewBean.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/TaskService.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/TaskQueryBean.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/TaskController.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/task/AsyncReviewService.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/common/ResourceController.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/common/Pagination.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/common/GlobalExceptionResolver.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/common/CommonController.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/ProcessDefinition.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/CertSessionListener.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/CertContextTag.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/CertContextInterceptor.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/CertContextImpl.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/CertContextImpl$1.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/CertContext.class
ezid-cert-manual/target/classes/cn/ezid/cert/manual/ActivitiAuthenticationProvider.class
ezid-cert-manual/.settings/org.eclipse.wst.validation.prefs
ezid-cert-manual/.settings/org.eclipse.wst.jsdt.ui.superType.name
ezid-cert-manual/.settings/org.eclipse.wst.jsdt.ui.superType.container
ezid-cert-manual/.settings/org.eclipse.wst.common.project.facet.core.xml
ezid-cert-manual/.settings/org.eclipse.wst.common.component
ezid-cert-manual/.settings/org.eclipse.m2e.core.prefs
ezid-cert-manual/.settings/org.eclipse.jdt.core.prefs
ezid-cert-manual/.settings/org.eclipse.core.resources.prefs
ezid-cert-manual/.settings/.jsdtscope
ezid-cert-manual/.project
ezid-cert-manual/.classpath
ezid-cert-deploy/.settings/org.eclipse.wst.validation.prefs
ezid-cert-deploy/.settings/org.eclipse.wst.jsdt.ui.superType.name
ezid-cert-deploy/.settings/org.eclipse.wst.jsdt.ui.superType.container
ezid-cert-deploy/.settings/org.eclipse.wst.common.project.facet.core.xml
ezid-cert-deploy/.settings/org.eclipse.wst.common.component
ezid-cert-deploy/.settings/org.eclipse.m2e.core.prefs
ezid-cert-deploy/.settings/org.eclipse.jdt.core.prefs
ezid-cert-deploy/.settings/org.eclipse.core.resources.prefs
ezid-cert-deploy/.settings/.jsdtscope
ezid-cert-deploy/.project
ezid-cert-deploy/.gitignore
ezid-cert-deploy/.classpath
ezid-cert-core/.settings/org.eclipse.wst.validation.prefs
ezid-cert-core/.settings/org.eclipse.wst.common.project.facet.core.xml
ezid-cert-core/.settings/org.eclipse.wst.common.component
ezid-cert-core/.settings/org.eclipse.m2e.core.prefs
ezid-cert-core/.settings/org.eclipse.jdt.core.prefs
ezid-cert-core/.settings/org.eclipse.core.resources.prefs
ezid-cert-core/.project
ezid-cert-core/.gitignore
ezid-cert-core/.classpath
ezid-cert-application/.settings/org.eclipse.wst.validation.prefs
ezid-cert-application/.settings/org.eclipse.wst.jsdt.ui.superType.name
ezid-cert-application/.settings/org.eclipse.wst.jsdt.ui.superType.container
ezid-cert-application/.settings/org.eclipse.wst.common.project.facet.core.xml
ezid-cert-application/.settings/org.eclipse.wst.common.component
ezid-cert-application/.settings/org.eclipse.m2e.core.prefs
ezid-cert-application/.settings/org.eclipse.jdt.core.prefs
ezid-cert-application/.settings/org.eclipse.core.resources.prefs
ezid-cert-application/.settings/.jsdtscope
ezid-cert-application/.project
ezid-cert-application/.gitignore
ezid-cert-application/.classpath
ezid-cert-api/.settings/org.eclipse.m2e.core.prefs
ezid-cert-api/.settings/org.eclipse.jdt.core.prefs
ezid-cert-api/.settings/org.eclipse.core.resources.prefs
ezid-cert-api/.project
ezid-cert-api/.gitignore
ezid-cert-api/.classpath
ezid-cert-activiti-extension/.settings/org.eclipse.m2e.core.prefs
ezid-cert-activiti-extension/.settings/org.eclipse.jdt.core.prefs
ezid-cert-activiti-extension/.settings/org.eclipse.core.resources.prefs
ezid-cert-activiti-extension/.project
ezid-cert-activiti-extension/.gitignore
ezid-cert-activiti-extension/.classpath
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
